<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/new" method="POST">
      <label for="text">Message:</label>
      <input type="text" name="text" id="text" required>

      <label for="user">User:</label>
      <input type="text" name="user" id="user" required>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
